<div class="form-container">
    <h2>Register Form</h2>
    <p>Create an account to get full experience of the site!</p>

    <form (ngSubmit)="register()" class="register" [formGroup]="form">
        <!-- username-->
        @if(form.get('username')?.touched){
        <div>
            @if(form.get('username')?.errors?.['required']){
            <p class="error">Username is required!</p>
            }
        </div>
        }

        <label for="username"><i class="fa-solid fa-user"></i>Username</label>
        <input [class]="(isFieldTextMissing('username')) ? 'error': ''" type="text" id="username" name="username"
            placeholder="ex. Ivan Ivanov" formControlName="username">

        <!--phone number-->
        <label for="phone"><i class="fa-solid fa-phone"></i>Phone Number</label>
        <div class="phone-input">
            <select name="select-phone" id="select-phone" class="phone">
                <option value="00359">+359</option>
            </select>
            <input type="text" id="phone" name="phone" placeholder="888 888 8888" formControlName="phone">
        </div>


        <!--email-->
        @if(form.get('email')?.touched){
        <div>
            @if(form.get('email')?.errors?.['required']){
            <p class="error">Email is required!</p>
            }
        </div>
        }

        <label for="email"><i class="fa-solid fa-envelope"></i>Email</label>
        <input [class]="(isFieldTextMissing('email')) ? 'error' : ''" type="text" id="email" name="email"
            placeholder="ivan@abv.bg" formControlName="email" email>

        <!--password-->
        <div formGroupName="passGroup">
            @if(passGroup?.get('password')?.touched){
            <div>
                @if(passGroup?.get('password')?.errors?.['required']){
                <p class="error">Password is required!</p>
                }
                <!--  -->
                @if(passGroup?.get('password')?.errors?.['minlength']){
                <p class="error">Password must be at least 8 characters!</p>
                }
            </div>
            }

            <!-- password -->
            <p class="password-input">
                <label for="password"><span><i class="fas fa-lock"></i>Password</span></label>
                <input [class]="(
                  (passGroup?.get('password')?.touched &&
                   passGroup?.get('password')?.errors?.['required'] ) ||
                   (passGroup?.get('password')?.touched && 
                   passGroup?.get('password')?.errors?.['minlength'])
                ) ? 'error' : ''" type="password" name="password" id="password" placeholder="******"
                    formControlName="password" />
            </p>

            @if(passGroup?.get('rePassword')?.touched){
            <div>
                @if(passGroup?.errors?.['matchPasswordsValidator'] ||
                passGroup?.get('rePassword')?.errors?.['required']){
                <p class="error">Repeat Password does not match password!</p>
                }
            </div>
            }

            <!-- rePassword -->
            <p class="password-input">
                <label for="rePassword"><span><i class="fas fa-lock"></i>Repassword</span></label>
                <input [class]="(
                  (passGroup?.get('rePassword')?.touched &&
                  (passGroup?.get('rePassword')?.errors?.['required'] ||
                  passGroup?.errors?.['matchPasswordsValidator'])) 
                ) ? 'error' : ''" type="password" name="rePassword" id="rePassword" placeholder="******"
                    formControlName="rePassword" />
            </p>
        </div>

        <button [disabled]="form.invalid">
            Create Account
        </button>

        <p class="text-center">
            Have an account?
            <a routerLink="/login">Log In</a>
        </p>
    </form>
</div>