header {
    display: flex;
    flex: 0 0 calc(100% / 3);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav > a {
    padding: 15px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}

img {
    width: 300px;
    height: 150px;
}

.user-and-checkout > i {
    margin: 0px 10px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu li {
    margin: 0;
}

.dropdown-menu li a {
    color: white;
    padding: 0.5rem 1rem;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dropdown-menu li a:hover {
    background-color: #555;
}

/* Show dropdown on hover */
.menu-item.dropdown:hover .dropdown-menu {
    display: block;
}