header {
    display: flex;
    flex: 0 0 calc(100% / 3);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav > a {
    padding: 15px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}

img {
    width: 300px;
    height: 150px;
}

.user-and-checkout > i {
    margin: 0px 10px;
}
