<section class="catalog-header">
    <div class="catalog-header-content">
        <h1>Explore the Latest Sneakers in Style</h1>
        <p>
            At SneakerSpot, we bring you the trendiest and most comfortable footwear for every occasion. Browse through
            our exclusive collection of Nike sneakers, featuring bold designs and unmatched performance. Whether you're
            looking to up your streetwear game or find the perfect pair for your next adventure, we've got you covered.
            Start exploring and find your new favorite kicks today!
        </p>
    </div>
</section>
<div class="catalog-container">

    @for (product of products; track $index) {
    <div class="product" [routerLink]="product._id">
        <div class="product-image">
            <img src="{{product.images[0]}}" alt="">
        </div>
        <div class="middle-part">
            <h2>{{product.name}}</h2>

        </div>
        <div class="lower-part">
            <div class="product-info">
                <p>{{product.brand}}</p>
                <h3 class="price">{{product.price | currency: "BGN"}}</h3>
            </div>
        </div>
    </div>
    }
</div>