@if (isLoggedIn) {
<div class="page-container">
    <div class="profile-container">
        <img src="https://placehold.co/200" alt="profile image">
        <div class="user-info">
            <p><i class="fa-solid fa-user"></i>Username: {{user?.username}}</p>
            <p><i class="fa-solid fa-phone"></i>Phone Number: +359 {{user?.tel}}</p>
            <p><i class="fa-solid fa-envelope"></i>Email: {{user?.email}}</p>
            <p><i class="fa-solid fa-heart"></i>Liked Posts: {{user?.liked?.length}}</p>
            <p><i class="fa-solid fa-star"></i>Reviewed Posts: {{user?.reviews?.length}}</p>
        </div>
    </div>

    <div class="review-container">
        @for (review of reviews; track $index) {
        <div class="review">
            <h3>{{review.productId}}</h3>
            <h4>{{review.title}}</h4>
            <p class="review-meta">⭐⭐⭐⭐⭐ {{review.rating}}/5 <span>{{review.user}}</span></p>
            <p class="review-text">{{review.comment}}</p>
        </div>
        }


        <!-- <div class="review">
            <h3>Level Up</h3>
            <p class="review-meta">⭐⭐⭐⭐⭐ <span>p8haan - Nov 26, 2024</span></p>
            <p class="review-text">Classic style and very comfortable. A very versatile shoe. They are a great addition
                to my collection.</p>
        </div>

        <div class="review">
            <h3>Buy the asap !!! Don't walk runnnn</h3>
            <p class="review-meta">⭐⭐⭐⭐⭐ <span>Cassy02e4addd52d445db82d2ffadc1 - Nov 24, 2024</span></p>
            <p class="review-text">Don't walk to get them runnnnnnnn to get it</p>
        </div>

        <div class="review">
            <h3>Great!</h3>
            <p class="review-meta">⭐⭐⭐⭐⭐ <span>NicNak - Nov 14, 2024</span></p>
            <p class="review-text">Bought for my son's birthday, & he loved them. Great colours, fit perfect</p>
        </div> -->
    </div>
</div>
}