<p>test works!</p>

<div>
    <form (ngSubmit)="submitProduct()" #f="ngForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" ngModel>
        </div>

        <div class="form-group">
            <label for="brand">Brand</label>
            <input type="text" class="form-control" id="brand" name="brand" ngModel>
        </div>

        <div class="form-group">
            <label for="gender">Gender</label>
            <input type="text" class="form-control" id="gender" name="gender" ngModel>
        </div>

        <div class="form-group">
            <label for="sizes">Sizes</label>
            <input type="text" class="form-control" id="sizes" name="sizes" ngModel>
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" id="price" name="price" ngModel>
        </div>

        <div class="form-group">
            <label for="colorway">Colorway</label>
            <input type="text" class="form-control" id="colorway" name="colorway" ngModel>
        </div>

        <div class="form-group">
            <label for="style">Style</label>
            <input type="text" class="form-control" id="style" name="style" ngModel>
        </div>

        <div class="form-group">
            <label for="info">Info</label>
            <input type="text" class="form-control" id="info" name="info" ngModel>
        </div>
        <button>submit</button>
    </form>

    
</div>

<div>
    <form (ngSubmit)="submitUser()" #userForm="ngForm">
        <div class="form-group">
            <label for="username">username</label>
            <input type="text" class="form-control" id="username" name="username" ngModel>
        </div>
        <div class="form-group">
            <label for="email">email</label>
            <input type="text" class="form-control" id="email" name="email" ngModel>
        </div>
        <div class="form-group">
            <label for="password">password</label>
            <input type="text" class="form-control" id="password" name="password" ngModel>
        </div>
        <button>submit</button>
    </form>
</div>