<div class="home-container">
  <div class="carousel">
    <div class="carousel-slides" [style.transform]="'translateX(-' + currentSlide * 100 + '%)'">
      <div class="carousel-slide" *ngFor="let slide of slides">
        <a [routerLink]="slide.link">
          <img [src]="slide.image" [alt]="slide.altText" />
          @if (slides[0] == slide) {
          <div class="slide-ad">
            <p>Explore the latest sneakers and exclusive collections.</p>
            <a routerLink="/products" class="cta-button">Shop Now</a>
          </div>
          }
        </a>
      </div>
    </div>
    <button class="carousel-control prev" (click)="prevSlide()">&#10094;</button>
    <button class="carousel-control next" (click)="nextSlide()">&#10095;</button>
  </div>

  <div class="hero-section">
    <h1>Welcome to Sneaker Spot</h1>
    <p>Explore the latest sneakers and exclusive collections.</p>
    <a routerLink="/products" class="cta-button">Shop Now</a>
  </div>

  <div class="highlights">
    <h2>Shop the Latest Sneakers</h2>
    <div class="highlight-items">
      @for(product of featuredProducts; track $index) {
      <div class="highlight-item">
        <img src="{{product.images[0]}}" [alt]="product.name" />
        <h3>{{ product.name }}</h3>
        <p>{{ product.price | currency: 'BGN' }}</p>
        <a routerLink="/products/{{product._id}}" class="btn">View Product</a>
      </div>
      }

    </div>
  </div>
</div>